@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#e72121;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 100%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.6rem;
}


html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:rgb(233, 226, 226);
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding: 0.7rem 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.3rem;
    border-radius: 4.5rem;
}

.btn i{
    padding: 0 2px 0 6px;
    font-size: 1.3rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: left;
    margin:0 5rem;
    font-size: 3.8rem;
    padding:0.5rem;
    border-bottom: .1rem solid #000;
    color:#000;
}
.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:25rem;
    background:#6e7070;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    height: 100%;
}
header .user img{
    height: 178px;
    width: 155px;
    border-radius: 50%;
    object-fit: contain;
    margin-top: 1.8rem;
}
header .user .name{
    font-size: 2.3rem;
    color: #fff;
}

.navbar{
    width:280px;
    margin-top: 20px;
}

header .user .post{
    font-size: 1.8rem;
    color:#eee;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li a{
    display: block;
    padding: 9px;
    margin: 10px 0;
    background: rgb(228, 93, 93);
    color: #fff;
    font-size: 20px;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background: #e72121;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 5rem;
}
.home h1{
    font-size:3.5rem;
    color:rgb(8, 1, 1);
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:1.7rem;
    color: rgb(12 0 0 / 80%);
    padding: 1rem 0;
    text-transform: initial;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 4.5rem;
    text-transform: initial;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:0.4rem 0;
    font-weight: normal;
    text-transform: initial;
}

.about .row .info h3 span{
    color:rgb(8, 1, 1);
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: rgb(12 0 0 / 80%);
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
    width:35rem;
    margin:2rem 1rem;
    padding-left: 3.5rem;
    border-left: .2rem solid #bcbcbc;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color: #fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color:#e46666;;
    padding-top: 1.5rem;
    text-transform: initial;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#030303;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
} 
.acheivements .box-container{
    margin: 2rem 3rem;
}

.acheivements-list{
    font-size: 1.5rem;
    padding: 1rem;
    
}

.acheivements-list p {
    font-size: 1.5rem;
    padding: 1rem;
    border-left: 2px solid #9c9393;
    margin-bottom: 35px;
    text-transform: initial;
}
.skills-area {
    display: flex;
    flex-direction: column;
    padding: 6% 9%;
  }
  
  .skill {
    position: relative;
    margin-bottom: 40px;
  }
  
  .skill-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .skill-bar {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 60px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
  }
  
  .skill-fill {
    background:#e72121;
    height: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
  }
  
  .skill-percent {
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
  
  .html {
    animation: html 2s;
    width: 80%;
  }
  
  .css {
    animation: css 2s;
    width: 70%;
  }
  
  .js {
    animation: js 2s;
    width: 50%;
  }

  .Bootstrap{
      animation: Bootstrap 2s;
      width: 50%;
      
  }
  .Python{
      animation: Python 2s;
      width: 60%;
  }
  

  @keyframes html {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
  
  @keyframes css {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
  .contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem 5rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: #7c7c7c;
    font-size: 2.5rem;
    padding-bottom: 0.7rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #be0b0b;
    padding: 0.5rem 0;
    font-weight: normal;
    text-transform: initial;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

